<a href="https://colab.research.google.com/github/theysee/sberbank_reboot/blob/master/Copy_of_Copy_of_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0_%D0%BA_%D0%B7%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D1%8E_1_%D0%9F%D0%BE%D1%82%D0%BE%D0%BA_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Практика
*   [Презентация](https://docs.google.com/presentation/d/1i0Dhn98CLVE7GTkX7lOUY6LfEPGHjBLS16tuZ4338wE/edit?usp=sharing)
*   [master notebook](https://colab.research.google.com/drive/1RzW5t14NUOanuUj7eGfW0bIqTweKtUim)

## Задача 1
Есть список a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89].

Выведите все элементы, которые меньше 5.

In [0]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
  if i < 5:
    print(i)

1
1
2
3

## Задача 2
Даны списки:

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89];

b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13].

Нужно вернуть список, который состоит из элементов, общих для этих двух списков.

In [0]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
c = []

for i in a:
  for j in b:
    if i == j:
      c.append(i)
  
print(c)

[1, 1, 2, 3, 5, 8, 13]

## Задача 3
Напишите программу для слияния нескольких словарей в один.

In [0]:
old_dict = {}
my_dict1 = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}
my_dict2 = {'g':400, 'h':4874, 'j': 460,'k':300, 'l':4874, 'f': 10}
my_dict3 = {'z':300, 'x':3874, 'v': 360,'b':200, 'n':3874, 'm': 0}

def dict_update(old_dict, new_dict):
  old_dict.update(new_dict)
  return old_dict

dict_update(old_dict, my_dict1)
dict_update(old_dict, my_dict2)
dict_update(old_dict, my_dict3)

print(old_dict)

{'a': 500, 'b': 200, 'c': 560, 'd': 400, 'e': 5874, 'f': 10, 'g': 400, 'h': 4874, 'j': 460, 'k': 300, 'l': 4874, 'z': 300, 'x': 3874, 'v': 360, 'n': 3874, 'm': 0}

## Задача 4
Найдите три ключа с самыми высокими значениями в словаре my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}.

In [60]:
my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}
targ_dict = {}

for key in my_dict:
  if len(targ_dict) < 3:
    targ_dict[key] = my_dict[key]
  else:
    for val in targ_dict:
      if targ_dict[val] < my_dict[key]:
        del targ_dict[val]
        targ_dict[key] = my_dict[key]
        break
print(targ_dict)

{'b': 5874, 'c': 560, 'e': 5874}

## Задача 5
Нужно вывести первые n строк [треугольника Паскаля](https://ru.wikipedia.org/wiki/%D0%A2%D1%80%D0%B5%D1%83%D0%B3%D0%BE%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA_%D0%9F%D0%B0%D1%81%D0%BA%D0%B0%D0%BB%D1%8F). В этом треугольнике на вершине и по бокам стоят единицы, а каждое число внутри равно сумме двух расположенных над ним чисел.

In [59]:
row_t = []
row_b = []
tmp = 0

row_count = int(input())

for i in range(row_count):
  row_t = row_b
  print(row_b)
  row_b = []
  row_b.append(1)
  if len(row_t) > 0:
    for j in row_t:
      val = j + tmp
      tmp = j
      row_b.append(val)

5
[]
[1]
[1, 1]
[1, 2, 2]
[1, 2, 3, 4]

## Задача 6
Напишите проверку на то, является ли строка палиндромом. Палиндром — это слово или фраза, которые одинаково читаются слева направо и справа налево.

## Задача 7
Сделайте так, чтобы число секунд отображалось в виде дни:часы:минуты:секунды. (используйте format())

In [0]:
# ваш код тут

## Задача 8
Вы принимаете от пользователя последовательность чисел, разделённых запятой. Составьте список и кортеж с этими числами.

**Для приёма пользовательского ввода используйте функцию input()**

In [0]:
s = input("введите значение")
print(s)
print(type(s))

In [0]:
# ваш код тут

## Задача 9
Выведите первый и последний элемент списка.

In [0]:
# ваш код тут

## Задача 10
Напишите программу, которая принимает имя файла и выводит его расширение. Если расширение у файла определить невозможно, выбросите исключение.

In [0]:
# ваш код тут

## Задача 11
Сложите цифры целого числа.

In [0]:
# ваш код тут

## Задача 12
Напишите программу, которая принимает два списка и выводит все элементы первого, которых нет во втором.

In [0]:
# ваш код тут

## Задача 13
Напишите программу, которая выводит чётные числа из заданного списка и останавливается, если встречает число 237.

In [0]:
# ваш код тут

## Задача 14
Посчитайте, сколько раз символ встречается в строке.

In [0]:
# ваш код тут

## Задача 15
Поменяйте значения переменных местами.

In [0]:
# ваш код тут

## Задача 16
Нужно проверить, все ли числа в последовательности уникальны.

In [0]:
# ваш код тут