<a href="https://colab.research.google.com/github/theysee/sberbank_reboot/blob/master/Copy_of_Copy_of_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0_%D0%BA_%D0%B7%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D1%8E_1_%D0%9F%D0%BE%D1%82%D0%BE%D0%BA_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Практика
*   [Презентация](https://docs.google.com/presentation/d/1i0Dhn98CLVE7GTkX7lOUY6LfEPGHjBLS16tuZ4338wE/edit?usp=sharing)
*   [master notebook](https://colab.research.google.com/drive/1RzW5t14NUOanuUj7eGfW0bIqTweKtUim)

## Задача 1
Есть список a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89].

Выведите все элементы, которые меньше 5.

In [0]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for i in a:
  if i < 5:
    print(i)

1
1
2
3

## Задача 2
Даны списки:

a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89];

b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13].

Нужно вернуть список, который состоит из элементов, общих для этих двух списков.

In [0]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
c = []

for i in a:
  for j in b:
    if i == j:
      c.append(i)
  
print(c)

[1, 1, 2, 3, 5, 8, 13]

## Задача 3
Напишите программу для слияния нескольких словарей в один.

In [0]:
old_dict = {}
my_dict1 = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}
my_dict2 = {'g':400, 'h':4874, 'j': 460,'k':300, 'l':4874, 'f': 10}
my_dict3 = {'z':300, 'x':3874, 'v': 360,'b':200, 'n':3874, 'm': 0}

def dict_update(old_dict, new_dict):
  old_dict.update(new_dict)
  return old_dict

dict_update(old_dict, my_dict1)
dict_update(old_dict, my_dict2)
dict_update(old_dict, my_dict3)

print(old_dict)

{'a': 500, 'b': 200, 'c': 560, 'd': 400, 'e': 5874, 'f': 10, 'g': 400, 'h': 4874, 'j': 460, 'k': 300, 'l': 4874, 'z': 300, 'x': 3874, 'v': 360, 'n': 3874, 'm': 0}

## Задача 4
Найдите три ключа с самыми высокими значениями в словаре my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}.

In [0]:
my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}
targ_dict = {}

for key in my_dict:
  if len(targ_dict) < 3:
    targ_dict[key] = my_dict[key]
  else:
    for val in targ_dict:
      if targ_dict[val] < my_dict[key]:
        del targ_dict[val]
        targ_dict[key] = my_dict[key]
        break
print(targ_dict)

{'b': 5874, 'c': 560, 'e': 5874}

## Задача 5
Нужно вывести первые n строк [треугольника Паскаля](https://ru.wikipedia.org/wiki/%D0%A2%D1%80%D0%B5%D1%83%D0%B3%D0%BE%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA_%D0%9F%D0%B0%D1%81%D0%BA%D0%B0%D0%BB%D1%8F). В этом треугольнике на вершине и по бокам стоят единицы, а каждое число внутри равно сумме двух расположенных над ним чисел.

In [0]:
row_count = int(input())

3
[1, 1]
[1, 1]
[1, 1, 2, 1]

## Задача 6
Напишите проверку на то, является ли строка палиндромом. Палиндром — это слово или фраза, которые одинаково читаются слева направо и справа налево.

In [0]:
i_word = input()

i_word = i_word.replace(" ","")
i_word = i_word.lower()
tmp_l = []

for j in reversed(i_word):
  tmp_l.append(j)

i_word_rev = ''.join(tmp_l)

if i_word == i_word_rev:
  print(f'I am a polyndrom')
else:
  print(f'I am NOT a polyndrom')

Тонет енот
I am a polyndrom

## Задача 7
Сделайте так, чтобы число секунд отображалось в виде дни:часы:минуты:секунды. (используйте format())

In [18]:
i_sec = int(input())
i_day = 0
i_hour = 0
i_min = 0

while i_sec > 60:
  if i_sec > 86400:
    i_day += 1
    i_sec = i_sec - 86400
  elif i_sec > 3600:
    i_hour += 1
    i_sec = i_sec - 3600
  else:
    i_min += 1
    i_sec = i_sec - 60
print(f'Day - {i_day}, hour - {i_hour}, min - {i_min}, sec - {i_sec}')

15654651
Day - 181, hour - 4, min - 30, sec - 51

## Задача 8
Вы принимаете от пользователя последовательность чисел, разделённых запятой. Составьте список и кортеж с этими числами.

**Для приёма пользовательского ввода используйте функцию input()**

In [17]:
#s = input("введите значение")

s = '12,16,24,27,46,37,29,76,87'

i_list = s.split(',')
i_tuple = tuple(i_list)

print(f'i am list - {i_list}, realy - {type(i_list)}')
print(f'i am tuple - {i_tuple}, realy - {type(i_tuple)}')

i am list - ['12', '16', '24', '27', '46', '37', '29', '76', '87'], realy - <class 'list'>
i am tuple - ('12', '16', '24', '27', '46', '37', '29', '76', '87'), realy - <class 'tuple'>

## Задача 9
Выведите первый и последний элемент списка.

In [16]:
s = ['12', '16', '24', '27', '46', '37', '29', '76', '87']
print(s[0])
print(s[len(s) - 1])

12
87

## Задача 10
Напишите программу, которая принимает имя файла и выводит его расширение. Если расширение у файла определить невозможно, выбросите исключение.

In [15]:
#i_word = input()
i_word = "Файл с расширением.docx"

try:
  tmp = i_word.split('.')
  i_exp = tmp[len(tmp) - 1]

except:
  i_exp = "Невозможно определить расширение"

print(i_exp)

docx

## Задача 11
Сложите цифры целого числа.

In [13]:
i_int = 15628

i_str = str(i_int)
i_sum = 0

for i in i_str:
  i_sum = i_sum + int(i)
print(i_sum)

22

## Задача 12
Напишите программу, которая принимает два списка и выводит все элементы первого, которых нет во втором.

In [12]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
b = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
c = []

for i in a:
  for j in b:
    if i == j:
      c.append(a.index(i))
for i in c:
  del a[a.index(i)]
print(a)

ValueError: ignored

## Задача 13
Напишите программу, которая выводит чётные числа из заданного списка и останавливается, если встречает число 237.

In [21]:
i_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 62, 73, 98, 366, 8365, 37, 28, 237, 763, 764, 1000, 7884]

for i in i_list:
  if i == 237:
    break
  elif i%2 == 0:
    print(i)
  else:
    pass

2
4
6
8
10
12
62
98
366
28

## Задача 14
Посчитайте, сколько раз символ встречается в строке.

In [22]:
#i_sym = input()
#i_word = input()
i_sym = 'e'
i_word = 'quelle belle journee'
i_counter = 0

for i in i_word:
  if i == i_sym:
    i_counter += 1
print(f'Символ встречается {i_counter} раз')

Символ встречается 6 раз

## Задача 15
Поменяйте значения переменных местами.

In [23]:
a = 'a'
b = 'b'

a, b = b, a

print(f'а = {a}, b = {b}')

а = b, b = a

## Задача 16
Нужно проверить, все ли числа в последовательности уникальны.

In [26]:
i_seq = 126473937465894038347456

i_seq = str(i_seq)

for i in i_seq:
  if i == tmp:
    flag = False
    break
  else:
    flag = True
  tmp = i

if flag:
  print('Последовательность уникальна')
else:
  print('Последовательность НЕ уникальна')

Последовательность НЕ уникальна