<a href="https://colab.research.google.com/github/theysee/sberbank_reboot/blob/master/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Тест

In [0]:
#https://docs.google.com/forms/d/164DJQWX4jTVtjK88ukydzT69KQO-h-YPoicVyFEU0y8/alreadyresponded?edit_requested=true

In [0]:
import numpy as np
import pandas as pd

In [8]:
df = pd.DataFrame({'colname1': [1, 2, 3], 'colname2': [4, 5, 6]})
df['colname3'] = [7,8,9]
df

   colname1  colname2  colname3
0         1         4         7
1         2         5         8
2         3         6         9

In [90]:
# Решение №1
df.loc[(df['colname1'] == df['colname1'].min()) |  (df['colname1'] == df['colname1'].max())][['colname1', 'colname2']]

   colname1  colname2
0         1         4
2         3         6