<a href="https://colab.research.google.com/github/theysee/sberbank_reboot/blob/master/%D0%9F%D0%BE%D1%82%D0%BE%D0%BA_3_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0_%D0%BA_%D0%B7%D0%B0%D0%BD%D1%8F%D1%82%D0%B8%D1%8E_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Практика

*   [Презентация](https://docs.google.com/presentation/d/1LHlFfVfL9AyguTgLeSbWdf7lFCcFsp18a--TtiyC7CU/edit?usp=sharing)
*   [master notebook](https://colab.research.google.com/drive/1_oE4cMPApBluMQqzFf-DzLbMb0AO0B-U)

## Заканчиваем про ООП

### Задание 1

Снова вспомним про наших питомцев. На этот раз, когда вы уже знаете что такое наследование, определите класс Pet (питомец). В нём определить те методы и свойства, которые будут общими как для кошек, так и для собак. Например, свойство is_hungry будет общим, но не только оно.
Затем, отнаследоваться от этого базового класса Pet, и определить классы Dog и Cat, не забыв поменять то, что у кошек и собак неодинаково. Синтаксис следующий:

class Dog(Pet):
    # код здесь

class Cat(Pet):
    # код здесь

Далее обратите внимание на то кол-во кода, которое пришлось бы писать без наследования, и с ним.

In [29]:
class Pet:
  def __init__(self, name, age, color, hungary=True, sleep=False):
    self.name = name
    self.age = age
    self.color = color
    self.hungary = hungary
    self.sleep = sleep
  
  def pet_feed(self):
    self.hungary = False
    print(f'Состояние голода у {self.name} {self.hungary}')
  
  def pet_go_sleep(self):
    self.sleep = True
    print(f'Состояние сна у {self.name} {self.sleep}')

class Dog(Pet):
  def __init__(self, name, age, color, hungary=True, sleep=False):
    self.name = name
    self.age = age
    self.color = color
    self.hungary = hungary
    self.sleep = sleep

  def pet_alert(self):
    print(f'Собака {self.name} говорит - woooo')

class Cat(Pet):
  def __init__(self, name, age, color, hungary=True, sleep=False):
    self.name = name
    self.age = age
    self.color = color
    self.hungary = hungary
    self.sleep = sleep

  def pet_alert(self):
    print(f'Кошка {self.name} говорит - miay')

dog1 = Dog('Mark', 13, 'Grey')
dog2 = Dog('Charly', 10, 'White')

cat1 = Cat('Betty', 5, 'Black')
cat2 = Cat('Rick', 4, 'Red')

dog1.pet_feed()
dog1.pet_go_sleep()
dog1.pet_alert()

dog2.pet_feed()
dog2.pet_go_sleep()
dog2.pet_alert()

cat1.pet_feed()
cat1.pet_go_sleep()
cat1.pet_alert()

cat2.pet_feed()
cat2.pet_go_sleep()
cat2.pet_alert()

Состояние голода у Mark False
Состояние сна у Mark True
Собака Mark говорит - woooo
Состояние голода у Charly False
Состояние сна у Charly True
Собака Charly говорит - woooo
Состояние голода у Betty False
Состояние сна у Betty True
Кошка Betty говорит - miay
Состояние голода у Rick False
Состояние сна у Rick True
Кошка Rick говорит - miay

### Задание 2

Создайте массив массив из 100 элементов (от 1 до 100), переформатируйте в формат (10 * 10), сделайте слайсинг с шагом 2 по каждой оси.

In [0]:
# ваш код

### Задание 3

Задан массив array, найти индекс первого элемента отсортированного s, где значения больше 5

In [0]:
r = np.random.RandomState(1)
s=pd.Series(r.uniform(0, 10, 100))

# ваш код

### Задание 4

Вывести имена всех выживших детей и их количество (у детей возраст < 18)

In [0]:
!wget https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv .

In [0]:
data = pd.read_csv('titanic.csv', sep=',', header='infer')
data.head(5)

In [0]:
# ваш код тут
# выведите имена всех выживших детей

In [0]:
# ваш код тут
# выведите количество выживших детей

### Задание 5

Написать функцию, которая по заданной длине последовательности находит среднее арифметическое ее членов.

Реализуйте задачу с и без помощи numpy, сравните время выполнения

In [0]:
# решение с использованием numpy
# для оценки времени исоплнения блока
%%time
# зададим длину нашей последовательности
dlina_posl = 100_000_000

# dfi код тут

In [0]:
# решение без использования numpy
# для оценки времени исоплнения блока
%%time

# ваш код тут

### Задание 6

Пусть мы имеем 2 массива (заданы ниже в коде). Требуется создать массив, который получает результат поэлементно True, если четные элементы 1го массива больше 2го и True, если нечетные элементы 2го больше элементов первого. В противном случае возвращать False.

Реализовать задачу с и помощью numpy

Пример массивов и результата:

a = [7, 3, 5, 9, 2, 5, 4, 8, 9, 0]

b = [2, 8, 6, 7, 1, 3, 2, 9, 5, 1]

res = [False, False, True, True, False, True, False, False, False, False]

In [0]:
# первый массив из примера
a = np.array([7, 3, 5, 9, 2, 5, 4, 8, 9, 0])
# второй массив из примера
b = np.array([2, 8, 6, 7, 1, 3, 2, 9, 5, 1])

# ваш код тут

### Задание 7

Предположим, что мы наблюдаем за некоторым признаком нашего датасета, но в данных есть пропуски. Ваша задача реализовать алгоритм заполнения пропущенных значений последним известным с помощью средств python и pandas. (подсказка: вам может помочь функция np.isnan(), которая возвращает True, если число - nan. Для реализации с пандас стоит посмотреть на метод .fillna).

Изначальный код с инициализацией такого датасета предоставлен.

In [0]:
# импортируем библиотеку для создания шума
import random
# библиотека для визуализации
import matplotlib.pyplot as plt

# создадим наши данные и добавим к каждой точке синусоиды случайный шум
a = np.linspace(0, 25, 100)
a = np.sin(a) + [random.gauss(0, 0.2) for i in range(len(a))]

# создадим 10 случайных пропусков
for i in range(10):
    a[random.randint(0, len(a) - 1)] = None
# создадим датафрейм
df = pd.DataFrame({'target':a})

# ваш код тут

# отобразим, в конечном результате не должно быть пропусков
plt.plot(df.target.values)

### Задание 8

Имеется небольшой игрушечный датафрейм, в котором необходимо провести несколько типов фильтраций (ответы ищите в решениях) и отобразить результат:

* всех, кто старше 40
* всех, кто имеет доход выше среднего по датасету
* всех, кто имеет доход выше среднего по датасету, но надежность ниже среднего по датасету

создать новые столбцы:

* важность клиента = доход * надежность
* возможная долгосрочность клиента = важность клиента * (средний возраст по датасету - возраст клиента)

`подсказка: двойные условия записываются так: (условие 1) & (условие 2)`


** примечание: столбцы не имеют отношения к реальным формулам или моделям, они необходимы только для наглядности

In [0]:
# создадим тестовый датасет
df = pd.DataFrame({
    'имя': ['Петя', 'Вася', 'Аня', 'Света'],
    'возраст': [45, 26, 41 , 21],
    'доход': [100000, 80000, 150000, 60000],
    'надежность клиента (0..1)': [0.65, 0.74, 0.87, 0.68],
    'пол': ['муж', 'муж', 'жен', 'жен']},
    index=[0, 1, 2, 3])

# ваш код тут

# отобразим датасет
df

## Data analyst starter pack

Данные 
https://archive.ics.uci.edu/ml/datasets/bank+marketing

Данные получены в результате маркетинговой кампании одного Португальского банка. Маркетинговая кампания базировалась на телефонных звонках. Достаточно часто требовалось более одного контакта с клиентом, чтобы понять будет он пользоваться продуктом (депозитом) (да 'yes' или нет ('no')). 

В архиве 4 набора данных:


1.   bank-additional-full.csv со всеми примерами (41188) и 20ю колонками, отсортированные по дате.
2.   bank-additional.csv с 10% примеров (4119), случайно выбранных из файла 1. 20 колонок.
3.   bank-full.csv с 10% все примеры и 17 колонок, сортированы по дате.
4.   bank.csv с 10% примеров и 17 колонками, случайно выбраны из файла 3.


Задача классификации: предсказать y ('yes', 'no').

#### Описание колонок:
1.   age (целочисленный признак) возраст
2.   job : тип занятости (категориальный признак: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3.   marital : семейное положение (категориальный признак: 'divorced','married','single','unknown'; прим.: 'divorced' значит разведён или вдова)
4.   education - образование (категориальный признак: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
5.   default: имеет кредит по умолчанию? (категориальный признак: 'no','yes','unknown')
6.   housing: имеет желищный кредит? (категориальный признак: 'no','yes','unknown')
7.   loan: имеет персональный кредит? (категориальный признак: 'no','yes','unknown')
##### следующие признаки относятся к последнему контакту с человеком:
8.   contact: по какому телефону контакт (категориальный признак: 'cellular','telephone') 
9.   month: в каком месяце звонили последний раз в этом году (категориальный признак: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
10.  day_of_week: день последнего контакта (категориальный признак: 'mon','tue','wed','thu','fri')
11.  duration: продолжительность звонка в секундах (целочисленный признак). Не очень честный признак для предиктивной модели, но пока оставим его
##### другие признаки:
12.  campaign: число звонков, включая последний для данной кампании и клиента (целочисленный признак)
13.  pdays: количество дней прошедшее со времени последнего контакта с клиентом (целочисленный признак. 999 значит, что с клиентом до этого не общались)
14.  previous: кол-во контактов с клиентом до этого (целочисленный признак)
15.  poutcome: чего добились в прошлый раз (категориальынй признак: 'failure','nonexistent','success')
##### соцдем, экономика
16.  emp.var.rate: уровень вариации занятости - квартальный показатель (целочисленный признак)
17.  cons.price.idx: индекс потребительских цен - месячный показатель (целочисленный признак) 
18.  cons.conf.idx: индекс доверия потребителей - месячный показатель (целочисленный признак) 
19.  euribor3m: Euribor 3 месяца - дневной показатель (целочисленный признак)
20.  nr.employed: количество работников - квартальный показатель (целочисленный признак)

##### Выход:
21.  y - купит или нет? (бинарный признак: 'yes','no')

In [0]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank-additional.zip .
!unzip bank-additional.zip

--2019-10-07 15:03:28--  https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank-additional.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 444572 (434K) [application/x-httpd-php]
Saving to: ‘bank-additional.zip’

bank-additional.zip 100%[===================>] 434.15K  1.36MB/s    in 0.3s

2019-10-07 15:03:28 (1.36 MB/s) - ‘bank-additional.zip’ saved [444572/444572]

--2019-10-07 15:03:28--  http://./
Resolving . (.)... failed: No address associated with hostname.
wget: unable to resolve host address ‘.’
FINISHED --2019-10-07 15:03:28--
Total wall clock time: 0.6s
Downloaded: 1 files, 434K in 0.3s (1.36 MB/s)
Archive:  bank-additional.zip
   creating: bank-additional/
  inflating: bank-additional/.DS_Store
   creating: __MACOSX/
   creating: __MACOSX/bank-additional/
  inflating: __MACOSX/bank-additional/._.DS_Store
  inflating: bank-additional/.Rhistory
  inflating: bank-additional/bank-additional-full.csv
  inflating: bank-additional/bank-additional-names.txt
  inflating: bank-additional/bank-additional.csv
  inflating: __MACOSX/._bank-additional

In [0]:
!ls bank-additional

bank-additional.csv  bank-additional-full.csv  bank-additional-names.txt

In [0]:
!pip3 install numpy
!pip3 install pandas
!pip3 install matplotlib

Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (1.16.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.16.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (3.0.3)
Requirement already satisfied: numpy>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.16.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.4.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib) (2.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib) (41.2.0)

In [0]:
import pandas as pd
data = pd.read_csv('bank-additional/bank-additional-full.csv', sep=';')
data.head(5)

   age        job  marital  ... euribor3m nr.employed   y
0   56  housemaid  married  ...     4.857      5191.0  no
1   57   services  married  ...     4.857      5191.0  no
2   37   services  married  ...     4.857      5191.0  no
3   40     admin.  married  ...     4.857      5191.0  no
4   56   services  married  ...     4.857      5191.0  no

[5 rows x 21 columns]

### Задание 9
Посмотрите на данные.


1.   Посмотрите различные величины типа средних, максимумов, минимумов
2.   Постройте 5 разных графиков - гистограмм. Графики должны быть правильно оформлены: должна быть легенда, название...
3.   Постройте sns.pairplot с раскраской по столбцу y
4.   Постройте 2 stacked гистограммы в паре с целевым столбцом y
5.   Постройте график зависимости средней велчины звонка от возраста
6.   Возможно, сформулируйте выводы/инсайты на основе графиков. Какойв наиболее вероятный портрет покупателя?